svg {
  margin: 0px auto;
  border: 1px solid #ddd;
}

.container {
  width: 1200px;
  height: 800px;
  position: relative;
}

.btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 3px 14px;
  border-color: #0095dd;
  background-color: #0095dd;
  color: #fff;
  cursor: pointer;
}
